.shiny-text {
  display: inline-block;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.animate-shine {
  animation: shine var(--animation-duration, 2s) infinite linear;
}
