@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0284c7; /* Professional modern blue accent */
  --color-background: #FFFFFF;
  --color-foreground: #0f172a;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
